#poster {
    text-align: center;
}

#poster input, textarea {
    margin: 10px;
}

#poster input {
    width: 400px;
}

.button {
    background-color: #fff;
    border: 2px solid red;
    color: purple;
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 50px;
    width: 160px;
}

.button:active {
    background-color: #d3d3d3;
}

.page-header {
    margin-top: -5px;
}

#poster {
    margin-top: -20px;
}